* {
	margin:0;
	padding: 0;
	box-sizing: 0;
	font-family: sans-serif;
}

.options{
	height: 40px;
	background-color: #0a9da9;
	color: black;
	display: flex;
	justify-content: flex-end;
}

#btn-menu{
	display: none;
}

.btndropdown{
	display: none;
}
.options label{
	font-size: 20px;
	cursor: pointer;
	
}

.menu ul{
	background: #0a9da9;
	color: gray;
	display: flex;
	list-style: none;
}

.menu ul ul{
	display: none;
}

.menu a{
	display: block;
	padding: 15px 20px;
	color: white;
	text-decoration:none;
}

.menu a:hover{
	background: rgba(0,0,0,0.3);
}

.menu a span{
	margin-left: 10px;
}

.menu ul li:hover ul{
	display: block;
	position: absolute;
}

@media screen and (max-width: 784px){
	.options label {
		display: block;
	}

	.menu{
		position: absolute;
		top: 40px;
		left: 0;
		width: 50%;
	}

	.menu ul{
		display: block;
		background: white;

	}
	.menu ul li:hover ul{
		display: none;
		position: static;
	}

	.menu a span{
		position: absolute;
		right: 5px;
	}

	#btn-menu:checked ~ .menu{
		transform: translateX(0%);

	}
}